<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
    <title>爱时尚-购物车</title>
    <link rel="stylesheet" href="./css/cart.css"/>
    <!--vant样式-->
    <link href="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/vant/2.12.44/index.min.css" rel="stylesheet">
    <!--引入项目要使用的前端CDN资源类库-->
    <!--vue2.x-->
    <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/vue/2.6.14/vue.min.js"></script>
    <!--axios-->
    <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/axios/0.26.0/axios.min.js"></script>
    <!--vant-->
    <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/vant/2.12.44/vant.min.js"></script>
</head>
<body>

<div id="app">
    <div style="background-color: #87CEFA;height: 40px;line-height: 40px;padding: 0px 10px;"><a
            href="./index.html"><span>
						<van-icon name="revoke"/>返回
					</span></a></div>
    <div class="goodlist">
        <div class="title">购物车</div>
        <div class="content">
            <div class="good" v-for="(g,index) in goodsInCart" :key="index">
                <div class="good-pic">
                    <img :src="g.pic" alt=""/>
                </div>
                <div class="good-desc">
                    <div class="name">{{g.name}}</div>
                    <div class="price">单价: <span>{{g.price}}¥</span></div>
                </div>
                <div class="operate">
                    <span class="sub" @click="subNum(index)">-</span>
                    <span>{{g.buyNum}}</span>
                    <span class="add" @click="addNum(index)">+</span>
                    <span class="btn" @click="deleteItemFromCart(index)">
                            <van-icon name="delete-o" size="20"/>
						</span>
                </div>
            </div>
        </div>
        <div class="content empty" v-if="goodsInCart.length == 0">
            <img src="./images/nomore.png" alt=""/>
            <p>您的购物车还是空的哦!</p>
        </div>
    </div>

    <div class="summary">
        <div class="total-price">
            <span>总数: {{totalNum}}</span>
            <span>总价: {{totalPrice}}</span>
        </div>
        <div class="pay">
            <a v-show="goodsInCart.length>0" href="./confirm.html">去结算</a>
        </div>
    </div>
</div>

<script>
    let vm = new Vue({
        el: '#app',
        data() {
            return {
                goodsInCart: []
            }
        },
        computed: {
            totalNum: function () {
                return this.goodsInCart.length;
            },
            totalPrice: function () {
                let total = 0;
                for (let i = 0; i < this.goodsInCart.length; i++) {
                    let good = this.goodsInCart[i];
                    total += good.price * good.buyNum;
                }
                return total.toFixed(2);//小数点后保留两位
            }
        },
        mounted() {
            //判断本地缓存里面是否保存
            if (window.localStorage.getItem("goodsInCart") != null) {
                this.goodsInCart = JSON.parse(window.localStorage.getItem("goodsInCart"));
            }
        },
        methods: {
            //更新本地缓存
            refreshGoodsInCartInLoaclStorage() {
                window.localStorage.setItem("goodsInCart", JSON.stringify(this.goodsInCart));
            },
            addNum(index) {
                let good = this.goodsInCart[index];
                if (good.buyNum < 100) {
                    good.buyNum++;
                    this.refreshGoodsInCartInLoaclStorage();
                }
            },
            subNum(index) {
                let good = this.goodsInCart[index];
                if (good.buyNum > 1) {
                    good.buyNum--;
                    this.refreshGoodsInCartInLoaclStorage();
                }
            },
            deleteItemFromCart(index) {
                this.$dialog.confirm({
                    title: "提示信息",
                    message: "确定要删除吗？",
                }).then(() => {
                    this.goodsInCart.splice(index, 1);
                    this.refreshGoodsInCartInLoaclStorage();
                }).catch(() => {
                    console.log("取消删除")
                });
            }
        }
    })
</script>
</body>
</html>