<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="UTF-8">
    <!--设置页面视口-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
    <title>爱时尚-商品列表页</title>
    <link rel="stylesheet" href="./css/index.css"/>
    <!--vant样式-->
    <link href="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/vant/2.12.44/index.min.css" rel="stylesheet">
    <!--引入项目要使用的前端CDN资源类库-->
    <!--vue2.x-->
    <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/vue/2.6.14/vue.min.js"></script>
    <!--axios-->
    <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/axios/0.26.0/axios.min.js"></script>
    <!--vant-->
    <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/vant/2.12.44/vant.min.js"></script>
</head>
<body>

<div id="app">
    <!--店铺头部区域-->
    <div class="header">
        <div class="banner">
            <img src="./images/avatar.jpg" alt=""/>
        </div>
        <div class="text">
            <div class="name">爱时尚精品屋</div>
            <div class="tips">公告:欢迎光临,流行爆款库存有限请尽快下单.</div>
        </div>
    </div>

    <!--店铺头部 操作区-->
    <div class="operators">
        <ul>
            <li class="active" onclick="">价格升序↑</li>
            <li class="active" onclick="">价格降序↓</li>
            <li class="active" onclick="">销量升序↑</li>
            <li class="active" onclick="">销量降序↓</li>
        </ul>
    </div>

    <!--商品列表-->
    <div class="goodlist">
        <div class="good" v-for="(g,index) in goodsList">
            <div class="good-pic">
                <img :src="g.pic" alt=""/>
            </div>
            <div class="good-desc">
                <div class="good-name">{{g.name}}</div>
                <div class="good-count">已售: {{g.buyCount}}件</div>
                <div class="good-price">单价: <span class="num">{{g.price}}¥</span></div>
            </div>
            <div onclick="">
                <van-button class="btn" round type="danger" @click="addToCart(index)"><span
                        style="color:#fff">加入购物车</span></van-button>
            </div>
        </div>
    </div>

    <!--购物车-->
    <a href="./cart.html">
        <div class="cart">
            <img src="./images/cart.png" alt=""/>
            <span class="total">{{totalNum}}</span>
        </div>
    </a>

    <van-pagination v-model="currentPage" page-count="2" mode="simple" @change="initGoodList()"/>

</div>

<script>

    let vm = new Vue({
        el: '#app',
        data() {
            return {
                currentPage: 1,
                goodsList: [],
                goodsInCart: []
            }
        },
        mounted() {
            //初始化商品列表
            this.initGoodList();
            //初始化购物车
            if (window.localStorage.getItem("goodsInCart") != null) {
                this.goodsInCart = JSON.parse(window.localStorage.getItem("goodsInCart"))
            }
        },
        computed: {
            totalNum: function () {
                return this.goodsInCart.length;
            }
        },
        methods: {
            initGoodList() {
                axios.get("https://www.simoniu.com/commons/items/catalog/pager/%E6%9C%8D%E9%A5%B0/" + this.currentPage)
                    .then(response => {
                        if (response.data.code === 200) {
                            console.log(response.data.data);
                            this.goodsList = response.data.data;
                        }
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            addToCart(index) {
                console.log(this.goodsList[index]);
                //判断本地缓存是否存在购物车对象
                if (window.localStorage.getItem("goodsInCart") != null) {
                    this.goodsInCart = JSON.parse(window.localStorage.getItem("goodsInCart"))
                }
                let temp = this.goodsList[index];
                for (var i = 0; i < this.goodsInCart.length; i++) {
                    if (temp.id == this.goodsInCart[i].id) {
                        //商品存在在购物车
                        temp = this.goodsInCart[i];
                        break;
                    }
                }
                if (i == this.goodsInCart.length) {
                    temp.buyNum = 1;
                    this.goodsInCart.push(temp);
                } else {
                    temp.buyNum++;
                }
                //把购物车重新保存到本地缓存
                window.localStorage.setItem("goodsInCart", JSON.stringify(this.goodsInCart));
                //把购物车里商品全部打印出来
                console.log(this.goodsInCart)
            }
        }
    })
</script>


</body>
</html>